
.DS_Store
data/nyc_zipcodes.dbf
data/nyc_zipcodes.prj
data/nyc_zipcodes.sbn
data/nyc_zipcodes.sbx
data/nyc_zipcodes.shp
data/nyc_zipcodes.shp.xml
data/nyc_zipcodes.shx
data/zillow_rent_data.csv
queries/query_1.sql
queries/query_2.sql
queries/query_3.sql
queries/query_4.sql
queries/query_5.sql
queries/query_6.sql
