NumPy
Math
Matplotlib.pyplot
Seaborn
Pandas
GeoPandas
Requests
Psycopg2
Pathlib
OS
Shapely

Socrata from sodapy
create_engine, text from SQLAlchemy
Point, Polygon from shapely.geometry
Geometry, WKTElement from geoalchemy2
BaseGeometry from shapely.geometry.base
datetime from datetime
relativedelta from dateutil.relativedelta